*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.right{
    height: 100%;
    width: 50%;
    display:flex;
    flex-direction:column;
}
.image{
    height: 100%;
    width: 50%;
}
.one{
    background: url(../image/微信图片_20191123110901.jpg) no-repeat center;
    background-size: 300px 100%;
}
.two{
    background: url(../image/微信图片_201911231109001.jpg) no-repeat center;
    background-size: 300px 100%;
}
.three{
    width: 100%;
    height: 50%;
    background:url(../image/微信图片_201911231109011.jpg) no-repeat center;
    background-size: 100% 500px;
}
.content{
    height: 100%;
    font-size: 21px;
    text-indent: 27px;
    text-align: center;
    padding-top: 100px;
    background: linear-gradient(to right,rgba(119, 204, 243, 0.37),rgba(252, 249, 249, 0.34)) ;
}